<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <form method="get" action="/new">
      <h2>The totel of number user are : <%= count %></h2>
      <button>Join as today!</button>
    </form>
  </body>
</html>
